.auth-form {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 8px 8px 16px #bebebe,
        -8px -8px 16px #ffffff;
    padding: 10px 20px;
    box-sizing: border-box;

    .icon {
        font-size: 40px;
        margin: 20px 0 0;
    }

    .form-input {
        width: 100%;
    }

    .send-btn {
        width: 200px;
        background-color: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
    }

    @media (max-width: 480px) {
        margin: 40px auto;
    }
}